<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="LoginApp">
		<classes>
			<class name="TestScripts.com_Brevistay_Login_01" />
		</classes>
	</test>
	<test thread-count="5" name="Homepage">
		<classes>
			<class name="TestScripts.com_Brevistay_Home_01" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
